/* 4. Главный контейнер */
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    background-image: radial-gradient(#adb5bd 1px, transparent 1px);
    background-size: 20px 20px;
}

.main {
    flex: 1 0 auto; /* 1 = растягиваться, 0 = не сжиматься, auto = базовая высота */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
