@import 'reset.css';
@import './utils/variables.css';
@import 'base.css';

/* 2. Компоненты */
@import 'components/todo-app.css';
@import 'components/button.css';
@import 'components/column.css';
@import 'components/task.css';
@import 'components/modal.css';

/* 3. Макеты */
@import 'layouts/header.css';
@import 'layouts/footer.css';
@import 'layouts/control-panel.css';
@import 'layouts/dashboard.css';



@import './utils/media-queries.css';


@import './utils/dragula.css';

