.footer{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    background-color: var(--footerBgColor);
}

.footer__contact{
    
}

.footer__image{
    width: 1rem;
    height: 1rem;
    margin-left: 10px;
}