.gu-mirror {
    opacity: 0.8;
    transform: rotate(5deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    list-style-type: none !important;
    padding-left: 0 !important;
}

.gu-transit {
    opacity: 0.2;
}

.gu-over {
    background-color: rgba(0, 123, 255, 0.05) !important;
}

[draggable="true"] {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}