.todo-app__status {
    width: 33.33%;
    padding: 15px;
    border-right: 1px solid var(--border);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.todo-app__status:last-child {
    border-right: none;
}

.todo-app__title {
    border-bottom: 1px solid var(--border);
    margin: 0 0 15px 0;
    padding: 10px;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-align: center;
    flex-shrink: 0;
    user-select: none;
}

.todo-app__title--completed {
    background-color: rgba(0, 128, 0, 0.2);
}

.todo-app__title--in-progress {
    background-color: rgba(255, 255, 0, 0.2);
}

.todo-app__title--postponed {
    background-color: rgba(255, 0, 0, 0.2);
}